# {{ ansible_managed }}
[uwsgi]
env = DJANGO_SETTINGS_MODULE=zebracrossing.local_settings
chdir = /opt/zebra-crossing
module = zebracrossing.wsgi

master = true
plugin = python3
processes = 10
vacuum = true
daemonize = /var/log/uwsgi/zebra-crossing.log
